footer {
    background-color: $footer-color;
    .appreciate {
        color: #FFF;
        h3 {
            font-family: "Secular One";
            font-size: 2rem;

        }
        p {
            font-size:1rem;

        }
    }
}