body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'inter',sans-serif;
}

a {
    text-decoration: none;
    font-family: 'inter',sans-serif;
}
li {
    list-style: none;
}


.overall {
background: linear-gradient(#EBEFF6,#FFF);
max-width:100%;


}

