
.unicorn-container {
    width: min(100%, 90rem);
    margin: 0 auto;

    section {
        // overflow-y: hidden;
        // background-color: $color-div1;
        // width: auto;
        // border-bottom-left-radius: 368px;
        // border-top-left-radius: 368px;
        // position:relative;
        // display: flex;
        // column-gap: 10rem;
 
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    // width: 61.25rem;
    @include min(tablet) {
        width: max(59rem, 90%);
    }
    max-width: 100%;
    min-height: 368px;
    margin-left: auto;
    padding-right: 16px;
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    background-color: #3f4aaf;
    }
}

.txt-container {
    display: none;
    
    @include min(mediumScreen) {
        display: block;
        margin-left: 4rem;
    margin-top:2rem;
    }
}

.unicorn-area {

   
    .unicorn-img {
        img {
            margin-top:4rem;
        }
    }
 
    .unicorn-txt-container {
        display: grid;
        gap: 1rem;
        margin-top: 2rem;
    
        p:first-child {
            font-family: 'Secular One';
            font-size:2rem;
            line-height: 2.5rem;
            color:#FFF;

        }
        p:last-child {
            font-family: 'Secular One';
            font-size:1.25rem;
            line-height: 1.5rem;
            color: #FFF;
        }
}

}

.show {
    display: block;
    padding-inline:3rem;
    p:first-child {
        font-family: 'Secular One';
        font-size:1.5rem;
        line-height: 2.5rem;
        color:$nav-color;

    }
    p:last-child {
        font-family: 'Secular One';
        font-size:1rem;
        line-height: 1.5rem;
        color: $nav-color;
        padding-bottom: 1rem;
    }
    @include min(mediumScreen) {
        display: none;
        margin-inline:3rem;
    }
}

.our-help {
    @include min(mediumScreen) {
            
    }
    
    .our-help-container {
        margin-inline:3rem;
        @include min(mediumScreen) {
            position: relative;
            width: 50%;
            padding-left: 35%;
            top: -4rem;
        }
    }
    .unicorn-arrow {
        width: 50%;
    margin: 0 auto;
        @include min(mediumScreen) {
            position: relative;
            left: 33%;
            bottom: 4rem;
            width: 20%;
            margin-left: 2rem;

        }
       img {
        transform: rotateX(0) rotateY(180deg) rotateZ(0);

        @include min(mediumScreen) {
            transform: rotate(0);
        }

       }
        
        @include max(smallScreen) {
            display: none;
        }
    }

    .container {
        color: $nav-color;
        margin-bottom: 4.5rem;
        .our-fields {
            display: flex;
            padding: 0;
            margin:0;
           @include max(smallScreen) {
            display: flex;
            flex-direction: column;
           }
            @include min(mediumScreen) {
                display: flex;
                flex-direction: row;
            }
            .markup {
                margin-left: 1rem;
                margin-bottom: 1rem;
                @include min(mediumScreen) {
                    font-family: "Secular One";
                font-weight:400;
                font-size:1.25rem;
                line-height: 1.5rem;
                margin: 0;
                }
                
                @include max(smallScreen) {
                    display: block;
                    font-size: 1rem;
                 
                }
            }
            
        }
        .technology {
            display: flex;
            align-items: center;
            li{
                margin-left:1rem;
                padding:.2rem .6rem;
                font-size:.7rem;
                
            }
        }
        .colored1 {
            background-color: $technology-color;
            border-radius: 200px;
            
            
        }
        .colored2 {
            background-color: $acquisition-color;
            border-radius: 200px;
            padding: 0 .4rem;
            font-size:.9rem;
            
        }
        .colored3 {
            background-color: $customer-color;
            border-radius: 200px;
            padding: 0 .4rem;
            font-size:.9rem;
        }
        .colored4 {
            background-color: $data-color;
            border-radius: 200px;
            padding: 0 .4rem;
            font-size:.9rem;
        }
        p {
            width:100%;
            max-width:38em;
            >span {
                display: block;
                padding-top:2rem;
            }
        }
    }

    .queried {
        @include max(mediumScreen2) {
            flex-direction: column;
        }

    }

}

.btn {
    @include max(tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
            }
    button {
        background: white;
        font-weight: 600;
    border: 2px solid $btn-color;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: $btn-color;
    cursor: pointer;
    &:hover {
        background-color: $btn-color;
        color: #FFF;
        transition:.5s ease-in-out;
    }

    }
    p {
        
        display: inline;
        color:$nav-color;
        padding-left:1rem;
        >span {
        font-weight: bold;
            font-size: 0.9rem;
            padding-right:.5rem ;
            position:relative;
            cursor: pointer;

            &:hover {
                color: $btn-color;
            }
        }
        span::before {
            content: "";
            background-color: $nav-color;
            width:95%;
            height:2px;
            position:absolute;
            bottom:-3px;
           
        }
        
    }
    
   
}

