
//colors
$nav-color:#10142C;
$btn-color:#E04F4F;
$background-color:#EBEFF6;
$color-div1:#3F49AF;
$technology-color:#FC8955;
$acquisition-color:#9DE3C4;
$customer-color:#FDD466;
$data-color:#909AF3;
$puma-color:#AA9572;
$rockar-color:#3A434F;
$themet-color:#E4002B;
$furniture-color:#7C964C;
$circle-color:#F0F1F9;
$footer-color:#10142C;