body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

a {
  text-decoration: none;
  font-family: "inter", sans-serif;
}

li {
  list-style: none;
}

.overall {
  background: linear-gradient(#EBEFF6, #FFF);
  max-width: 100%;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}
nav .logo a {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #E04F4F;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: none;
}
nav .menu .txt {
  font-weight: 700;
}
@media (max-width: 992px) {
  nav .menu .txt {
    display: none;
  }
}
nav .menu .hamburger span {
  display: block;
  width: 1.5rem;
  height: 2px;
  background-color: #10142C;
  margin: 0.5rem;
}

.unicorn-container {
  width: min(100%, 90rem);
  margin: 0 auto;
}
.unicorn-container section {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  max-width: 100%;
  min-height: 368px;
  margin-left: auto;
  padding-right: 16px;
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
  background-color: #3f4aaf;
}
@media (min-width: 992px) {
  .unicorn-container section {
    width: max(59rem, 90%);
  }
}

.txt-container {
  margin-left: 4rem;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .txt-container {
    display: none;
  }
}

.unicorn-area .unicorn-img img {
  margin-top: 4rem;
}
.unicorn-area .unicorn-txt-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}
.unicorn-area .unicorn-txt-container p:first-child {
  font-family: "Secular One";
  font-size: 2rem;
  line-height: 2.5rem;
  color: #FFF;
}
.unicorn-area .unicorn-txt-container p:last-child {
  font-family: "Secular One";
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #FFF;
}

.our-help {
  width: 90%;
  position: relative;
}
.our-help .our-help-container {
  width: 65%;
  position: absolute;
  right: 0;
  top: -4rem;
}
.our-help .unicorn-arrow img {
  margin-left: 2rem;
}
.our-help .container {
  color: #10142C;
}
.our-help .container ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.our-help .container ul li:first-child {
  font-family: "Secular One";
  font-size: 1.25rem;
  font-weight: 400;
}
.our-help .container .colored1 {
  background-color: #FC8955;
  border-radius: 200px;
  padding: 0 0.4rem;
  font-size: 0.9rem;
  margin-left: 1rem;
}
.our-help .container .colored2 {
  background-color: #9DE3C4;
  border-radius: 200px;
  padding: 0 0.4rem;
  font-size: 0.9rem;
  margin-left: 1rem;
}
.our-help .container .colored3 {
  background-color: #FDD466;
  border-radius: 200px;
  padding: 0 0.4rem;
  font-size: 0.9rem;
  margin-left: 1rem;
}
.our-help .container .colored4 {
  background-color: #909AF3;
  border-radius: 200px;
  padding: 0 0.4rem;
  font-size: 0.9rem;
  margin-left: 1rem;
}
.our-help .container p > span {
  display: block;
  padding-top: 2rem;
}

.btn {
  margin-top: 5rem;
}
@media (max-width: 992px) {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.btn button {
  background: white;
  font-weight: bold;
  border: 2px solid #E04F4F;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  color: #E04F4F;
  cursor: pointer;
}
.btn button:hover {
  background-color: #E04F4F;
  color: #FFF;
  transition: 0.5s ease-in-out;
}
.btn p {
  display: inline;
  color: #10142C;
  padding-left: 1rem;
}
.btn p > span {
  font-weight: bold;
  font-size: 0.9rem;
  padding-right: 0.5rem;
  position: relative;
}
.btn p span::before {
  content: "";
  background-color: #10142C;
  width: 95%;
  height: 2px;
  position: absolute;
  bottom: -3px;
}
.btn p:active {
  color: red;
}

.intro {
  margin-block: 4rem;
  padding-inline: 2rem;
  width: auto;
  max-width: 65.25rem;
}
@media (min-width: 1440px) {
  .intro {
    margin: 4rem auto;
  }
}
.intro .intro-msg {
  font-family: "Secular one", sans-serif;
  font-weight: 400;
  font-size: 5.5rem;
  line-height: 6rem;
  color: #10142C;
  line-height: 6rem;
}
@media (max-width: 767px) {
  .intro .intro-msg {
    font-size: 1.875rem;
    line-height: 2.1875rem;
    font-weight: 400;
  }
}
.intro .intro-msg span {
  opacity: 0.3;
}
.intro .diamond {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
@media (max-width: 767px) {
  .intro .diamond img {
    width: 6rem;
    margin-top: 5rem;
  }
}
.intro .diamond .angle {
  position: relative;
  margin-top: -7.3rem;
  align-items: center;
  margin-left: 50%;
}
@media (max-width: 992px) {
  .intro .diamond .angle {
    margin-left: 0;
  }
}
.intro .diamond .angle i {
  font-size: 1.5rem;
  margin-bottom: -1.3rem;
}
.intro .diamond .angle i:first-child {
  position: absolute;
  -webkit-animation: arrow1 2s ease-in-out infinite;
          animation: arrow1 2s ease-in-out infinite;
}
.intro .diamond .angle i:last-child {
  position: absolute;
  top: 9px;
  -webkit-animation: arrow2 2s ease-in-out infinite;
          animation: arrow2 2s ease-in-out infinite;
}

@-webkit-keyframes arrow1 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    transform: translateY(20px);
  }
}

@keyframes arrow1 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    transform: translateY(20px);
  }
}
@-webkit-keyframes arrow2 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes arrow2 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}