body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

a {
  text-decoration: none;
  font-family: "inter", sans-serif;
}

li {
  list-style: none;
}

.overall {
  background: linear-gradient(#EBEFF6, #FFF);
  width: min(100%, 90rem);
  margin: 0 auto;
}

nav {
  position: relative;
}
nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: min(100%, 90rem);
  margin: 0 auto;
  z-index: 99;
  background-color: #FFF;
  padding: 1rem 1rem 1rem 0rem;
}
nav .logo a {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #E04F4F;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: none;
}
nav .menu .txt {
  font-weight: 700;
}
@media (max-width: 992px) {
  nav .menu .txt {
    display: none;
  }
}
nav .menu .hamburger span {
  display: block;
  width: 1.5rem;
  height: 2px;
  background-color: #10142C;
  margin: 0.5rem;
}

.unicorn-container {
  width: min(100%, 90rem);
  margin: 0 auto;
}
.unicorn-container section {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  max-width: 100%;
  min-height: 368px;
  margin-left: auto;
  padding-right: 16px;
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
  background-color: #3f4aaf;
}
@media (min-width: 992px) {
  .unicorn-container section {
    width: max(59rem, 90%);
  }
}

.txt-container {
  display: none;
}
@media (min-width: 769px) {
  .txt-container {
    display: block;
    margin-left: 4rem;
    margin-top: 2rem;
  }
}

.unicorn-area .unicorn-img img {
  margin-top: 4rem;
}
.unicorn-area .unicorn-txt-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}
.unicorn-area .unicorn-txt-container p:first-child {
  font-family: "Secular One";
  font-size: 2rem;
  line-height: 2.5rem;
  color: #FFF;
}
.unicorn-area .unicorn-txt-container p:last-child {
  font-family: "Secular One";
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #FFF;
}

.show {
  display: block;
  padding-inline: 3rem;
}
.show p:first-child {
  font-family: "Secular One";
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #10142C;
}
.show p:last-child {
  font-family: "Secular One";
  font-size: 1rem;
  line-height: 1.5rem;
  color: #10142C;
  padding-bottom: 1rem;
}
@media (min-width: 769px) {
  .show {
    display: none;
    margin-inline: 3rem;
  }
}

.our-help .our-help-container {
  margin-inline: 3rem;
}
@media (min-width: 769px) {
  .our-help .our-help-container {
    position: relative;
    width: 50%;
    padding-left: 35%;
    top: -4rem;
  }
}
.our-help .unicorn-arrow {
  width: 50%;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .our-help .unicorn-arrow {
    position: relative;
    left: 33%;
    bottom: 4rem;
    width: 20%;
    margin-left: 2rem;
  }
}
.our-help .unicorn-arrow img {
  transform: rotateX(0) rotateY(180deg) rotateZ(0);
}
@media (min-width: 769px) {
  .our-help .unicorn-arrow img {
    transform: rotate(0);
  }
}
@media (max-width: 480px) {
  .our-help .unicorn-arrow {
    display: none;
  }
}
.our-help .container {
  color: #10142C;
  margin-bottom: 4.5rem;
}
.our-help .container .our-fields {
  display: flex;
  padding: 0;
  margin: 0;
}
@media (max-width: 480px) {
  .our-help .container .our-fields {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 769px) {
  .our-help .container .our-fields {
    display: flex;
    flex-direction: row;
  }
}
.our-help .container .our-fields .markup {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 769px) {
  .our-help .container .our-fields .markup {
    font-family: "Secular One";
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .our-help .container .our-fields .markup {
    display: block;
    font-size: 1rem;
  }
}
.our-help .container .technology {
  display: flex;
  align-items: center;
}
.our-help .container .technology li {
  margin-left: 1rem;
  padding: 0.2rem 0.6rem;
  font-size: 0.7rem;
}
.our-help .container .colored1 {
  background-color: #FC8955;
  border-radius: 200px;
}
.our-help .container .colored2 {
  background-color: #9DE3C4;
  border-radius: 200px;
  padding: 0 0.4rem;
  font-size: 0.9rem;
}
.our-help .container .colored3 {
  background-color: #FDD466;
  border-radius: 200px;
  padding: 0 0.4rem;
  font-size: 0.9rem;
}
.our-help .container .colored4 {
  background-color: #909AF3;
  border-radius: 200px;
  padding: 0 0.4rem;
  font-size: 0.9rem;
}
.our-help .container p {
  width: 100%;
  max-width: 38em;
}
.our-help .container p > span {
  display: block;
  padding-top: 2rem;
}
@media (max-width: 789px) {
  .our-help .queried {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.btn button {
  background: white;
  font-weight: 600;
  border: 2px solid #E04F4F;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  color: #E04F4F;
  cursor: pointer;
}
.btn button:hover {
  background-color: #E04F4F;
  color: #FFF;
  transition: 0.5s ease-in-out;
}
.btn p {
  display: inline;
  color: #10142C;
  padding-left: 1rem;
}
.btn p > span {
  font-weight: bold;
  font-size: 0.9rem;
  padding-right: 0.5rem;
  position: relative;
  cursor: pointer;
}
.btn p > span:hover {
  color: #E04F4F;
}
.btn p span::before {
  content: "";
  background-color: #10142C;
  width: 95%;
  height: 2px;
  position: absolute;
  bottom: -3px;
}

.dreams-intro .dreams-intro-txt p {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  font-family: "Secular One";
  padding-inline: 3rem;
  max-width: 740px;
}
.dreams-intro .dreams-intro-txt p span {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 3rem;
  display: block;
}
.dreams-intro .arrow2 {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .dreams-intro .arrow2 {
    display: none;
  }
}
@media (min-width: 480px) {
  .dreams-intro .arrow2 {
    display: flex;
    justify-content: center;
  }
}

.companies {
  display: grid;
  width: 92%;
  margin: 0 auto;
  gap: 4rem;
}

.rockar {
  background-color: #3A434F !important;
}

.bold-logo {
  width: 50% !important;
}

.themet {
  background-color: #E4002B !important;
}
.themet .img-parent {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative !important;
}
.themet .img-parent img {
  width: 100% !important;
}

.furniture {
  background-color: #7C964C !important;
}

@media (max-width: 769px) {
  .up-curve {
    display: grid;
    gap: 9rem;
    background-color: #AA9572;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 3px;
    grid-template-areas: "a" "b";
    justify-items: center;
  }
  .up-curve .up-curve-info {
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
  }
  .up-curve .logo {
    width: 28%;
  }
  .up-curve .logo img {
    width: 100%;
  }
  .up-curve .msg {
    width: 100%;
    max-width: 323px;
  }
  .up-curve .msg h3 {
    font-family: "Secular One";
    font-size: 1rem;
    max-width: 200px;
    margin-bottom: 2rem;
    font-weight: 400;
    color: #FFF;
  }
  .up-curve .link a {
    color: #FFF;
  }
  .up-curve .up-curve-image {
    width: 70%;
    grid-area: a;
    position: relative;
  }
  .up-curve .up-curve-image img {
    width: 100%;
    position: relative;
  }
}
@media (min-width: 770px) {
  .side-curve-right {
    display: grid;
    background-color: #AA9572;
    border-top-right-radius: 432px;
    border-bottom-right-radius: 432px;
    grid-auto-rows: 450px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .side-curve-right .side-curve-right-info {
    padding: 1rem;
  }
  .side-curve-right .logo {
    width: 28%;
  }
  .side-curve-right .logo img {
    width: 100%;
  }
  .side-curve-right .msg {
    width: 100%;
    max-width: 471px;
  }
  .side-curve-right .msg h3 {
    font-family: "Secular One";
    font-size: 2rem;
    margin-bottom: 5rem;
    font-weight: 400;
    color: #FFF;
  }
  .side-curve-right .link a {
    color: #FFF;
  }
  .side-curve-right .side-curve-right-image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .side-curve-right .side-curve-right-image img {
    width: 100%;
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    right: -2rem;
    bottom: -1rem;
  }
}
@media (min-width: 770px) {
  .side-curve-left {
    border-top-left-radius: 30rem;
    border-bottom-left-radius: 30rem;
    display: grid;
    justify-items: center;
    grid-auto-rows: 450px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b";
    align-items: center;
  }
  .side-curve-left .side-curve-info {
    grid-area: b;
  }
  .side-curve-left .side-curve-left-image {
    grid-area: a;
    position: relative;
  }
  .side-curve-left .side-curve-left-image img {
    width: 100%;
    position: relative;
    right: 4rem;
  }
  .side-curve-left .logo {
    width: 28%;
  }
  .side-curve-left .logo img {
    width: 100%;
  }
  .side-curve-left .msg {
    width: 100%;
    max-width: 323px;
  }
  .side-curve-left .msg h3 {
    font-family: "Secular One";
    font-size: 2rem;
    margin-bottom: 5rem;
    font-weight: 400;
    color: #FFF;
  }
  .side-curve-left .link a {
    color: #FFF;
  }
}
.dreams-btn {
  width: 100% !important;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
}

.diamond3 {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 769px) {
  .diamond3 {
    display: none;
  }
}

.hire-us .hire-us-info {
  text-align: center;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hire-us .hire-us-info h3 {
  font-family: "Secular One";
  font-size: 2rem;
  line-height: 2.5rem;
}
.hire-us .hire-us-info p {
  font-family: "Secular One";
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
}
.hire-us .team-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 28.1875em) {
  .hire-us .team-circle {
    display: none;
  }
}
.hire-us .team-circle .stars-left {
  display: grid;
  width: 10%;
  position: relative;
}
.hire-us .team-circle .stars-left img {
  position: absolute;
}
.hire-us .team-circle .stars-left img:first-child {
  top: -5rem;
  left: -5rem;
}
.hire-us .team-circle .stars-left img:nth-child(2) {
  top: 0rem;
}
.hire-us .team-circle .stars-left img:nth-child(3) {
  bottom: -8rem;
  left: -5rem;
}
.hire-us .team-circle .stars-left img:last-child {
  top: 10rem;
  left: 4rem;
}
.hire-us .team-circle .circle {
  width: 26.625rem;
  height: 26.625rem;
  border-radius: 50%;
  background-color: #F0F1F9;
  position: relative;
}
.hire-us .team-circle .circle img {
  height: 6rem;
  width: 6rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}
.hire-us .team-circle .circle img:first-child {
  left: 19rem;
  top: 2rem;
}
.hire-us .team-circle .circle img:nth-child(2) {
  left: 21rem;
  bottom: 6rem;
}
.hire-us .team-circle .circle img:nth-child(3) {
  left: 7px;
  top: 20rem;
}
.hire-us .team-circle .circle img:nth-child(4) {
  left: -1rem;
  top: 6rem;
}
.hire-us .team-circle .circle .circle-even {
  display: flex;
  width: 100%;
  height: 100%;
}
.hire-us .team-circle .circle .circle-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}
.hire-us .team-circle .circle .circle-content .pm {
  border: 1px solid transparent;
  background-color: #909AF3;
  border-radius: 40%;
  padding: 4px 10px;
}
.hire-us .team-circle .circle .circle-content .circle-content-txt {
  max-width: 18.75rem;
}
.hire-us .team-circle .circle .circle-content .circle-content-txt p {
  font-size: 1rem;
  line-height: 1.375rem;
}
.hire-us .team-circle .circle .circle-content img {
  position: static;
  width: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.hire-us .team-circle .stars-right {
  display: grid;
  width: 10%;
  position: relative;
}
.hire-us .team-circle .stars-right img {
  position: absolute;
}
.hire-us .team-circle .stars-right img:first-child {
  left: 1rem;
  top: -5rem;
}
.hire-us .team-circle .stars-right img:nth-child(2) {
  left: 3rem;
  top: 2rem;
}
.hire-us .team-circle .stars-right img:last-child {
  left: 6rem;
  top: -1rem;
}
.hire-us .hire-us-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem auto;
}
.hire-us .hire-us-desc p {
  max-width: 31.25rem;
  line-height: 1.5rem;
}
.hire-us .diamond4 {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin-left: 3rem;
  position: relative;
}
.hire-us .diamond4 img {
  position: absolute;
  bottom: 0;
}
@media (max-width: 769px) {
  .hire-us .diamond4 {
    display: none;
  }
}
.hire-us .hire-us-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.know-us {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 62em) {
  .know-us {
    flex-direction: column;
    gap: 3rem;
  }
  .know-us .holder img {
    width: 100%;
  }
}
.know-us .holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.know-us .holder img {
  max-width: 80%;
}
.know-us .holder h3 {
  font-family: "Secular One";
  text-align: center;
}
.know-us .holder:hover h3 {
  color: #E04F4F;
}

.know-us-txt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem 0;
}
.know-us-txt p {
  font-weight: 400;
  font-family: "Secular One";
  font-size: 2rem;
}

.rudolfs-txt p {
  font-size: 1.25rem !important;
}

.rudolfs {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
}
.rudolfs .account-manager {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.rudolfs .account-manager img {
  width: 30%;
}
.rudolfs .account-manager .rudolfs-title h4 {
  margin: 0 !important;
}
.rudolfs .account-manager .rudolfs-title p {
  margin: 2px 0;
  opacity: 0.5;
}
footer {
  background-color: #10142C;
}
footer .appreciate {
  color: #FFF;
}
footer .appreciate h3 {
  font-family: "Secular One";
  font-size: 2rem;
}
footer .appreciate p {
  font-size: 1rem;
}

.intro {
  margin-block: 4rem;
  padding-inline: 2rem;
  width: auto;
  max-width: 65.25rem;
}
@media (min-width: 1440px) {
  .intro {
    margin: 4rem auto;
  }
}
.intro .intro-msg {
  color: #10142C;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  font-weight: 400;
}
@media (min-width: 769px) {
  .intro .intro-msg {
    font-family: "Secular one", sans-serif;
    font-weight: 400;
    font-size: 5.5rem;
    line-height: 6rem;
  }
}
.intro .intro-msg span {
  opacity: 0.3;
}
.intro .diamond {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
@media (max-width: 769px) {
  .intro .diamond img {
    width: 6rem;
    margin-top: 5rem;
  }
}
.intro .diamond .angle {
  position: relative;
  margin-top: -7.3rem;
  align-items: center;
  margin-left: 50%;
}
@media (max-width: 992px) {
  .intro .diamond .angle {
    margin-left: 0;
  }
}
.intro .diamond .angle i {
  font-size: 1.5rem;
  margin-bottom: -1.3rem;
}
.intro .diamond .angle i:first-child {
  position: absolute;
  -webkit-animation: arrow1 2s ease-in-out infinite;
          animation: arrow1 2s ease-in-out infinite;
}
.intro .diamond .angle i:last-child {
  position: absolute;
  top: 9px;
  -webkit-animation: arrow2 2s ease-in-out infinite;
          animation: arrow2 2s ease-in-out infinite;
}

@-webkit-keyframes arrow1 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    transform: translateY(20px);
  }
}

@keyframes arrow1 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    transform: translateY(20px);
  }
}
@-webkit-keyframes arrow2 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes arrow2 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}